

/*.bg*/
body {
    height: calc(100vh - 60px);
    background-image: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.1),
        rgba(0, 0, 0, 0.1)
      ),

      url("../images/bg.jpeg");
      opacity: 0.1;
    background-repeat: no-repeat;
    background-size: cover;
  }
 
  
  /* body {
    background-image: url("../images/bg.jpeg");
  } */